<a href="{{unbound linkUrl}}" data-auto-route="true">
  {{#if showSmallLogo}}
    {{#if smallLogoUrl}}
      <img class="logo-small" src="{{unbound smallLogoUrl}}" width="33" height="33">aaa
    {{else}}
      <i class="fa fa-home"></i>bbb
    {{/if}}
  {{else}}
    {{#if showMobileLogo}}
      <img id="site-logo" class="logo-big" src="{{unbound mobileBigLogoUrl}}" alt="{{unbound title}}">ccc
    {{else}}
      {{#if bigLogoUrl}}
        <img id="site-logo" class="logo-big" src="{{unbound bigLogoUrl}}" alt="{{unbound title}}">eee
      {{else}}
        <h2 id="site-text-logo" class="text-logo">{{unbound title}}</h2>ddd
      {{/if}}
    {{/if}}
  {{/if}}
</a>
